target/test-classes/jb-jeff-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="${cloud.jeff.test.host}" port="${cloud.jeff.test.port}" doc:name="HTTP Request Configuration" />
    <context:property-placeholder location="${mule.env}.jblc_domain.properties,${mule.env}.jb-jeff-test.properties" />

    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="jb-jeff-test-config" raml="jb-jeff-test.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <api-platform-gw:api apiName="${apiName}" version="${apiVersion}" flowRef="jb-jeff-test-main" create="true" apikitRef="jb-jeff-test-config" doc:name="API Autodiscovery"/>

    <flow name="jb-jeff-test-main">
        <http:listener config-ref="HTTP_Listener_ESB_Domain" path="/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="jb-jeff-test-config" doc:name="APIkit Router"/>
        <exception-strategy ref="jb-jeff-test-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="jb-jeff-test-console">
        <http:listener config-ref="HTTP_Listener_ESB_Domain" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="jb-jeff-test-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/cloud:jb-jeff-test-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/hello" method="GET" doc:name="Call Cloud"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="The cloud server returned the payload #[payload]" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="200" doc:name="Property"/>

    </flow>
    <flow name="get:/hello:jb-jeff-test-config">
        <set-payload value="This test is from the server" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="200" doc:name="Property"/>
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="jb-jeff-test-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
