target/classes/jb-jeff-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="${cloud.jeff.test.host}" port="${cloud.jeff.test.port}" doc:name="HTTP Request Configuration"/>
    <context:property-placeholder location="${mule.env}.jblc_domain.properties,${mule.env}.jb-jeff-test.properties"/>
    <flow name="jb-jeff-testFlow">
        <http:listener config-ref="HTTP_Listener_ESB_Domain" path="/hello" doc:name="HTTP"/>
        <set-payload value="This test is from the server" doc:name="Set Payload"/>
    </flow>
    <flow name="jb-jeff-testFlow1">
        <http:listener config-ref="HTTP_Listener_ESB_Domain" path="/cloud" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/hello" method="GET" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="The cloud server returned the payload #[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
